*{
    margin: 0%;
    padding: 0;
     box-sizing: border-box;
     text-decoration: none;
}

body{
    background-color: whitesmoke;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px ;
    padding-right: 120px;
    padding-bottom: 16px;
    padding-left: 120px;
    background-color: beige;
}
ul{
    display: flex;

}
ul li{
    list-style: none;
}
li a{
    color: black;
    font-size: 18px;
    margin-right: 20px;
}
 button{
    background-color: #30b868;
    color: white;
    height: 44px;
    width: 165;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 4px;
    border-style: none;
}
main{
    background-image: url(hero-bg.png);
    background-size: cover;
    width: fill;
    height: fixed;
    text-align: center;
    padding-top: 70px;
    padding-right: 120px;
    padding-bottom: 134px;
    padding-left: 120px;
    gap: 40px;
}
.hero-data{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 134px;
}
#sada{
    color: white;
    font-size: 72px;
}
#sobuj{
    color: #30b868;
    font-size: 72px;
}
#ff{
    color: #ffffff;
}
#btn2{
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-left: 15px;
}
#btn{
    margin-top: 20px;
    padding-left: 20px;
}
.hero{
    padding-bottom: 40px;
}
#early{
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    background-color: #ffffff;
    color: #30b868;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 12px;    
}
.fail{
    text-align: center;
    margin: 20px;
}
.class-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
      margin-top: 20px;
}
.card{
    width: 322px;
    height: 230px;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    margin-left: 20px;
    text-align: center;
    padding-top: 40px;
}
.card img{
    background-color: rgb(224, 83, 32);
    border-radius: 50%;
    padding: 10px;
}
.section img{
    width: 600px;
    height: 600px;
}
.section2{
    display: flex;
    align-items: center;
    margin: 50px;
    gap: 80px;
    margin-left: 200px;
}
#p1{
   color: #30b868;
}
.p3{
   color: #627382;
}   

