*{
    margin: 0%;
    padding: 0;
     box-sizing: border-box;
     text-decoration: none;
}



.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px ;
    padding-right: 120px;
    padding-bottom: 16px;
    padding-left: 120px;
    background-color: beige;
}
ul{
    display: flex;

}
ul li{
    list-style: none;
}
li a{
    color: black;
    font-size: 18px;
    margin-right: 20px;
}
 button{
    background-color: #30b868;
    color: white;
    height: 44px;
    width: 165;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 4px;
    border-style: none;
}